@font-face {
    font-family:"Inter"; src: url("./material/Inter.ttf");
}

body {
    font-family: Inter;
}

/*Header*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

#Barky {
    width: 110px;
    height: auto;
    padding-right: 15px;
}

.header-links {
    text-decoration: none;
    color: black;
}

#left {
    display: flex;
    gap: 20px;
    align-items: center;
}

#right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#line-between {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}

.vs {
    padding-left: 3px;
    padding-bottom: 2px;
}

.right-style {
    font-size: 17px;
    font-weight: 450;
}

.left-style {
   font-size: 16px; 
   font-weight: 450;
}

#barky-box {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    margin: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

/*Hero Page*/

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#hero-main {
    display: flex;
    margin: 130px 0px 60px;
    align-items: center;
}
#teams-hero {
    width: 100%;
    height: auto;
}

#hero-left {
    flex-basis: 50%;
}
#hero-right {
    flex-basis: 50%;
}

#hero-text {
    width: 83%;
    padding-bottom: 10px;
}

p {
    color: #999999;
    line-height: 1.5;
}

#hero-heading {
    width: 90%;
    font-size: 50px;
    margin: 0;
}

#hero-barky-box {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

/*Logos company*/

.logos-company {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;;
}

#top-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

#bottom-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 20px 20px 20px;
}

.image-logo {
    width: 10%;
    height: auto;
}

#page-dog {

}

.pages {

}

.header-dog {
    font-size: 30px;
    margin: 60px 0px -6px 0px;
}

.text-dog {
    width: 49%;
    margin-bottom: 40px;
}

.image-dog {
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    border-radius: 5px;
}

.quotes {
    text-align: center;
    font-weight: 600;
    margin: 30px 60px 30px;
}

.faces {
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .face-image {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .face-text .name {
    font-size: 16px; 
    font-weight: bold; 
  }
  
  .face-text .title {
    font-size: 14px;  
    margin-top: -20px;
  }