@font-face {
    font-family:"Inter"; src: url("./material/Inter.ttf");
}

body {
    font-family: Inter;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#Barky {
    width: 110px;
    height: auto;
    padding-right: 15px;
}

.header-links {
    text-decoration: none;
    color: black;
}

#left {
    display: flex;
    gap: 20px;
    align-items: center;
}

#right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#line-between {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}

.vs {
    padding-left: 3px;
    padding-bottom: 2px;
}

.right-style {
    font-size: 17px;
    font-weight: 450;
}

.left-style {
   font-size: 16px; 
   font-weight: 450;
}

#barky-box {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    margin: 8px;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#hero-main {
    display: flex;
    margin: 100px auto;
}
#teams-hero {
    width: 100%;
    height: auto;
}

#hero-left {
    flex-basis: 50%;
}
#hero-right {
    flex-basis: 50%;
}

#hero-text {
    width: 83%;
    padding-bottom: 10px;
}

p {
    color: #999999;
}

#hero-heading {
    width: 90%;
    font-size: 50px;
    margin: 0;
}

#hero-barky-box {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
}